body {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial,
    "Ubuntu", "Cantarell", "Fira Sans", sans-serif;
  background-color: #0c1317;
  height: 100vh;
  margin: 0;
}

.container {
  width: 98vw;
  height: 95vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #202c33;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.ms-1 {
  margin-left: 10px;
}

.me-1 {
  margin-right: 10px;
}

.p-10 {
  padding: 10px;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

.g-10 {
  gap: 10px;
}

.sidebar {
  width: 32%;
  background-color: #111b21;
  color: white;
}

.sidebar-input {
  background-color: #202c33;
  height: 30px;
  border-radius: 5px;
  color: white;
}

.left {
  width: 3%;
  background-color: #202c33;
  margin: 10px;
  gap: 30px;
}

.top {
  background-color: #202c33;
  margin: 10px;
  gap: 30px;
}

.left img {
  width: 22px;
  height: 22px;
}

.end {
  margin: 10px;
  gap: 30px;
}

.header {
  padding: 20px;
  background-color: #111b21;
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.flex-wrap {
  flex-wrap: wrap;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
  background-color: #111b21;
}

.chat-item {
  padding: 10px;
  border-bottom: 1px solid #202c33;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

.chat-item:hover {
  background-color: #3b3b3b;
}

.chat-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.chat-details {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: 500;
}

.chat-last-message {
  font-size: 0.9em;
  color: #888;
}

.chat-window {
  width: 62vw;
  background-color: #e5ddd5;
  display: none;
}

.chat-header {
  padding: 9px;
  background-color: #202c33;
  color: white;
  text-align: start;
  font-size: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.chat-header-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-image: url("https://preview.redd.it/ts7vuoswhwf41.jpg?auto=webp&s=fe71ac2f8231b4349cfb849a027aa5f9df98add5");
  background-size: contain;
}

.chat-input {
  background-color: #202c33;
}

.chat-input input {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-input button {
  background-color: #075e54;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #128c7e;
}

.message {
  position: relative;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 65%;
  word-wrap: break-word;
}

.message.current-user {
  background-color: #005c4b;
  align-self: flex-end;
  text-align: right;
  color: white;
}

.message.other-user {
  background-color: #202c33;
  align-self: flex-start;
  color: white;
  text-align: left;
}

#message-input {
  background-color: #2a3942;
  border: none;
  outline: none;
}

.options-icon {
  cursor: pointer;
  color: #888;
  margin-left: 5px;
}

.options-menu {
  display: none;
  position: absolute;
  color: white;
  right: 0;
  top: 20px;
  background-color: #2a3942;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.options-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
}

.options-menu button:hover {
  background-color: #6d6d6d;
  border-radius: 5px;
}

.edit-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #9fcac2;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 90%;
}

.save-cancel {
  text-align: center;
}

#send-button {
  margin-left: 15px;
}

.save-edit-button,
.cancel-edit-button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(32, 142, 69);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(97, 97, 97, 0.5);
  border-radius: 3px;
}

@media screen and (max-width: 560px) {
  .chat-last-message,
  .header-end,
  #send-button,
  .left {
    display: none;
  }
  .message {
    max-width: 80%;
  }
  .sidebar {
    width: 20vw;
  }
  .header span {
    font-size: 18px;
  }
  .chat-window {
    width: 80vw;
  }
  .chat-name {
    font-size: 8px;
    text-align: center;
  }
}
